.deleteBut {
  border: none;
  font-size: 0.6rem;
  background-color: inherit;
}

.bookmarkCol {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

@media screen and (max-width: 555px) {
  .bookmarkCol {
    display: block;
    text-align: center;
  }
}
