.deleteBut {
  border: none;
  font-size: 0.6rem;
}

.bookmarkCol {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}
