.signinP,
.joinP {
  font-size: 1.25rem;
}

.arrowPng {
  visibility: visible;
  opacity: 0;
  animation-name: fade;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: 9;
  position: fixed;
  bottom: 8%;
  left: 3.5%;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}

.logoutBut {
  position: fixed;
  right: 1%;
  bottom: 6%;
  font-size: 1rem;
}
.addBookBut {
  position: fixed;
  left: 1%;
  bottom: 6%;
}
.userP {
  position: fixed;
  margin: auto;
  bottom: 6%;
  left: 0;
  right: 0;
}

.addBookLink {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}
