.signinP,
.joinP {
  font-size: 1.25rem;
}

.logoutBut {
  position: fixed;
  right: 1%;
  bottom: 6%;
  font-size: 1rem;
}
.addBookBut {
  position: fixed;
  left: 1%;
  bottom: 6%;
}
.userP {
  position: fixed;
  margin: auto;
  bottom: 6%;
  left: 0;
  right: 0;
}

.addBookLink {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}
